OPENCLAW_IMAGE="ghcr.io/openclaw/openclaw:latest"
OPENCLAW_CONFIG_DIR=/home-server-data/openclaw
OPENCLAW_WORKSPACE_DIR=/home-server-data/openclaw/workspace
OPENCLAW_AUTH_PROFILE_SECRET_DIR="/home-server-data/openclaw/.config"
BRAVE_API_KEY=